@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Verydarkblue: hsl(217, 54%, 11%);
    --Darkblue: hsl(216, 50%, 16%);
    --Deepblue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background: var(--Verydarkblue);
}

/* Outer Layer Of Shadow */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 415px;
    height: 630px;
    background: hsla(217, 54%, 8%, 0.1);
    border-radius: 50px;
}

/* Second Shadow */
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 355px;
    height: 565px;
    background: hsla(217, 56%, 9%, 0.5);
    border-radius: 50px;
}

/* Background Card */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 321px;
    height: 540px;
    background: var(--Darkblue);
    border-radius: 16px;
}

/* Main Part */
.information {
    padding: 21px;
}

.overlay-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: -5px;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: url("images/icon-view.svg");
	position: absolute;
	background-color: hsl(178, 100%, 50%, 50%);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.625rem;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.overlay:hover::before{
    opacity: 1;
}

.information h3 {
    color: white;
    margin-top: 15px;
    font-size: 20px;
    transition: 300ms ease-in-out;
}

.information h3:hover {
    transition: color 300ms ease-in-out;
    color: var(--Cyan);
}

.information p {
    font-size: 17px;
    margin-top: 13px;
    color: var(--Softblue);
    line-height: 1.4;
    font-weight: 300;
}

/* Ethereum Part */
.wrapper {
    display: flex;
    justify-content: space-between;
}

.ethereum {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.ethereum h4 {
    margin-left: 7px;
    font-size: 15px;
    color: var(--Cyan);
}

.ethereum img {
    width: 10px;
}

.time img {
    width: 15px;
}

/* Time */
.time {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.time h4 {
    margin-left: 6px;
    font-size: 15px;
    color: var(--Softblue);
    font-weight: 400;
}

hr {
    margin-top: 20px;
    opacity: 0.2;
}

/* Avatar */
.avatar {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.avatar img {
    width: 31px;
    border: 1px solid white;
    border-radius: 50%;
}

.avatar p {
    margin-top: 0;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
}

.avatar p span {
    color: white;
    transition: 300ms ease-in-out;
}

.avatar p span:hover {
    color: var(--Cyan);
    transition: color 300ms ease-in-out;
}

/* Footer */
.attribution { 
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}